<button type="button" class="btn btn-default" ui-sref="categories">&#60; back</button>
<section class="content">
    <div class="container">
        <div class="modal-body row">
            <div class="col-sm-6">
                <div ng-repeat="book in bookdata">
                        <div class="card card-block">
                            <img class="card-img-top" src="{{book.image}}" alt="Card image cap" height="150px" width="150px">
                            <div>
                                <a class="card-title" ui-sref="books.book({bookID:book._id})" ng-model="book" ng-click="booksdetails(book)" role="button">{{book.title}}</a>
                            </div>
                        </div>
                    
                </div>

            </div>
      <div class="right-container col-sm-6 lead text-muted">
       <ui-view></ui-view>
       </div>
        </div>
    </div>
</section>